.container {
  border: 2px solid hotpink;
  width: 70%;
  float: left;
  @include center-with-margin();
  @media #{$brk-point} {
    float: none;
    width: 90%;
  }
  @media #{$brk-point-small} {
    .column {
      // text-align: center;
      // margin-left: 25%;
      min-width: 300px;
      width: 100%;
      border: 2px solid tomato;
    }
  }
}

.row {
  margin-top: 3%;
  border: 2px solid purple;
  margin-left: auto;
  margin-right: auto;
}

.column {
  @include columns(6);
  & img {
    width: 100%;
  }
  & .subcolumn {
    @include span-columns(4);
    height: 100%;
    width: 100%;
  }
}

.subcolumn span {
  font-size: 0.7rem;
  padding: 3%;
  margin-top: 6%;
  border-right: 1px solid lightgrey;
  display: inline-block;
  width: 30%;
  &:last-child {
    border-right: none;
  }
  & a {
    color: black;
    margin-left: 5%;
  }
}

.content {
  padding: 5%;
  text-align: center;
  font-size: 1.1em;
  & h3 {
    margin-bottom: 3%;
    font-size: 1.5em;
  }
  & .date {
    margin-top: 10%;
    display: block;
    text-align: left;
  }
}
