.container {
  width: 70%;
  float: left;
  @include center-with-margin();
  @media #{$brk-point} {
    float: none;
    width: 90%;
  }
  @media #{$brk-point-small} {
    .column {
      min-width: 300px;
      width: 100%;
    }
  }
}

.row {
  margin-top: 3%;
}

.column {
  @include columns(6);
  & img {
    width: 100%;
  }
  & .subcolumn {
    @include span-columns(4);
    height: 100%;
    width: 100%;
  }
}

.subcolumn span {
  color: darken($date-color, 20%);
  font-size: 0.7rem;
  padding: 3%;
  margin-top: 6%;
  border-right: 1px solid $date-color;
  display: inline-block;
  width: 30%;
  &:last-child {
    border-right: none;
  }
  & a {
    color: black;
    margin-left: 5%;
  }
}

.content {
  padding: 5%;
  text-align: center;
  font-size: 1.1em;
  & h3 {
    margin-bottom: 3%;
    font-size: 1.5em;
  }
  & .date {
    color: $date-color;
    margin-top: 10%;
    display: block;
    text-align: left;
  }
}
