nav {
  padding-top: 1%;
  height: 3rem;
  background: black;
  @media #{$brk-point} {
    .links {
      display: none;
    }
    .sandwich-button {
      display: inline-block;
      margin-left: 6%;
    }
  }
  @media #{$brk-point-small} {
    min-width: 300px;
  }
}

.sandwich-button {
  display: none;
  color: white;
  font-size: 1.2em;
}

.nav-content {
  @include center-with-margin();
  width: 90%;
  & a {
    padding-right: 1%;
    color: $nav-color;
    text-decoration: none;
  }
}

.nav-right {
  width: 15em;
  float: right;
  & a {
    margin-left: 2%;
    text-align: right;
  }
  & a:first-child {
    margin-left: 15%;
  }
}
