nav {
  padding-top: 1%;
  height: 3rem;
  @include background(linear-gradient(black, grey) left repeat);
  @include background(linear-gradient(black, grey) left repeat, radial-gradient(black, grey));
  @media #{$brk-point} {
    padding-top: 2%;
    .links {
      display: none;
    }
    .sandwich-button {
      display: inline-block;
      margin-left: 6%;
    }
  }
  @media #{$brk-point-small} {
    min-width: 300px;
    padding-top: 3%;
  }
}

.sandwich-button {
  display: none;
  color: white;
  font-size: 1.2em;
}

.nav-content {
  @extend %center;
  width: 90%;
  & a {
    padding-right: 1%;
    color: $nav-color;
    text-decoration: none;
  }
}

.nav-right {
  width: 15em;
  float: right;
  & a {
    margin-left: 2%;
    text-align: right;
  }
  & a:first-child {
    margin-left: 15%;
  }
}
