nav {
  padding-top: 1%;
  height: 3rem;
  // border: 2px solid pink;
  background: black;
}

.nav-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  // border: 2px solid white;
  & a {
    padding-right: 1%;
    color: white;
    text-decoration: none;
  }
}

.nav-right {
  // border: 2px solid hotpink;
  width: 15em;
  float: right;
  & a {
    margin-left: 2%;
    text-align: right;
  }
  & a:first-child {
    margin-left: 15%;
  }
}
