*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
