*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.wrap, .row {
  @extend %clearfix;
}

.wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
