*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box();
}

body {
  height: 100vh;
  width: 100vw;
}

.wrap {
  border: 2px solid blue;
  width: 90%;
  @include center-with-margin();
}

.wrap, .row {
  @extend %clearfix;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
