// border-box
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// buttons
@mixin button-styles {
  background: transparent;
  border: 2px solid $header-color;
  font-size: 1.4em;
  color: $header-color;
  padding: 1%;
}

@mixin button-hover {
  background: $header-color;
  color: $blogpost-header-color;
  outline: none;
}

// background image
@mixin background-img-styles {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// center things
@mixin center-things($top:null) {
  position: absolute;
  top: $top;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

// center with margin
@mixin center-with-margin {
  margin-left: auto;
  margin-right: auto;
}

// grid columns
@mixin columns($cols){
    @include span-columns($cols);
    height: 100%;
}
