// color variables
$nav-color: #fefefe;
$header-color: white;
$blogpost-header-color: black;
$text-color: #242424;
$date-color: #9c9c9c;


//font stacks
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-karla: "Karla", $stack-sans-serif;

// media queries
$brk-point: "screen and (max-width: 990px)";
$brk-point-small: "screen and (max-width: 600px)";
